.reviewPage {
    position: relative;
    text-align: center;
}


.header {
    display: flex;
    justify-content: center;
}

.button_write {
    margin-left: 3rem;
}

.list {
    display: flex;
    list-style: none;
}