.App {
  text-align: center;
}
/*nav바*/


ul li {
  text-decoration: none;
}

nav ul li {
  display : inline-block;
  padding: 10px;
  text-decoration: none;
}

.mainLogo {
  padding: 10px;
}

/*메인배너*/
.mainBanner {
  width: 100%;
  height: 700px; 
}


/*

폰트 추가 
사이트 참고 > https: //noonnu.cc/

*/

@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ohsquareair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

