.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 8px;
    
}
.navbar_logo {
    font-weight: bold;
}
.logo_text{
    font-family: 'Joan', serif;
    font-size: 35px;

}
.navbar_menu {
    list-style: none;
    display: flex;
}
.navbar_menu li {
    padding: 8px 12px;
    font-size: 25px;
}